---

import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const books = await getCollection('books')

---

<Layout title="Mis libros">
	<main>
		<h1 class="text-center text-7xl font-extrabold mb-24"> Toda mi lectura :📖 </h1>
	</main>

	<section aria-label="Libros leidos">
		<div class="grid gap-8 md:grid-cols-4">
			<div>
			{
				books.map(book=>{
					const {slug, data} = book
					const { title, author, img, pages, description, buy } = data
					return(
						<article>
							<img src={`/${img}`} alt={title} class="w-full rounded-lg"/>
						</article>
					)

				})

			}
					
			</div>
		</div>
	</section>


	
</Layout>
